DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.jafpzhrqfbqlpvxnzhiw
DB_PASSWORD=Connectsphere1234!
DB_SSL=true
DB_SSL_CA_PATH="prod-ca-2021.crt"
JWT_SECRET=b1e1efc814de39b5efaac865b904b86ea87bb1336dc85c381ea6c7ce994c7264
PORT=4000
CORS_ORIGIN=http://localhost:5173